* { /* delete global margin and padding */
    margin: 0;
    padding: 0;
}

#alert {
    position: absolute;
    width: calc(100% - 40px);
    height: 300px;
    z-index: 100;
    background-color: rgb(255, 136, 0);
    color: black;
    text-align: center;
    padding: 0 5px;
    border-radius: 20px;
    left: 15px;
    top: 50%;
    transform: translate(0, -50%);
}

#alert h1 {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

#loaderLow { /* loader v1 */
    position: absolute;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    top: calc((100% - 152px) / 2  + 100px);
    left: calc((100% - 152px) / 2);
    animation: spin 2s linear infinite;      
}

#loaderCenter { /* loader v2 */
    position: absolute;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    top: calc((100% - 152px) / 2 - 100px);
    left: calc((100% - 152px) / 2);
    animation: spin 2s linear infinite;      
}

@keyframes spin { /* circle animation for loader */
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#info { /* display infos with a yellow background */
    position: absolute;
    display: block;
    background-color: rgb(255, 196, 2);
    text-align: center;
    width: 60%;
    line-height: 40px;
    font-size: 25px;
    font-style: oblique;
    top: 20px;
    left: 20%;
    border-radius: 10px;
}


body { /* body layout */
    background-color: rgb(39, 62, 87);
    width: 100%;
    height: 100%;
}

.underline { /* decorative */
    text-decoration: underline;
    color: rgb(59, 140, 226);
}

.top-nav { /* top navigation bar */
    position: relative;
    display: block;
    width: 100%;
    background-color: rgb(56, 94, 134);
    z-index: 1000;
}

.top-nav .headline {
    display: table;
    width: 100%;
}

.top-nav .headline h1 {
    position: relative;
    padding: 20px 0 10px 20px;
    font-size: 24px;
    line-height: 30px;
    font-style: bold;
    color: rgb(140, 185, 233);
    display: table-cell;
    float: left;
}

.top-nav .headline p {
    position: relative;
    padding: 20px 0 10px 20px;
    font-size: 16px;
    line-height: 30px;
    color: rgb(140, 185, 233);
    display: table-cell;
    float: right;
    right: 30px;
}


.top-nav ul {
    display: block;
    padding: 10px 0;
    width: 100%;
}

.top-nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 8px;
}


.top-nav ul li button {
    font-size: 22px;
    font-style: bold;
    color: rgb(140, 185, 233);
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.top-nav .btn {
    position: relative;
    font-size: 20px;
    padding: 6px 4px;
    border-radius: 5px;
    color: rgb(177, 210, 253);
    background-color: rgb(41, 71, 104);
    border: none;
    float: right;
    margin-right: 15px;
    bottom: 8px;
}


.box {  /* box for main-UI, explore-UI */
    position: relative;
    width: 100%;
    top: 20px;
}

.box .contact {
    position: relative;
    display: table;
    width: 100%;
    background-color: rgb(39, 62, 87);
    cursor: pointer;
}

.box .contact .photo {
    position: relative;
    display: table-cell;
    width: 75px;
    height: 75px;
    float: left;
}

.box .contact .photo img {
    position: relative;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.box .contact .photo p {
    position: relative;
    display: block;
    text-align: center;
    font-size: 21px;
    width: 25px;
    height: 25px;
    background-color: rgb(27, 146, 110);
    color:rgb(39, 62, 87);
    border-radius: 25px;
    float: right;
    bottom: 15px;
    z-index: 1000;
}

.box .contact .latest {
    position: relative;
    display: table-cell;
    height: 75px;
    width: 200px;
    margin-left: 10px;
    float: left;
}

.box .contact .latest .name {
    font-size: 25px;
    line-height: 40px;
    margin-top: 5px;
    color: rgb(233, 233, 233);
}

.box .contact .latest .last-msg {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 10px;
    color: rgb(117, 117, 117);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* color: linear-gradient(to right, rgb(117, 117, 117), transparent); */
}

.box .contact button {
    position: relative;
    display: table-cell;
    width: 75px;
    height: 75px;
    float: right;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.box .contact button img {
    width: 40px;
    height: 40px;
    text-align: center;
}


.master { /* chatroom box */
    position: relative;

}

.master div.msg {
    overflow: scroll;
    height: 450px;
}

.master .msg .adjustment {
    display: table;
    width: 100%;
    height: auto;
    min-height: 20px;
    font-size: 20px;
    margin: 10px 0;
}

.master .msg .adjustment .line-me {
    display: table-cell;
    float: right;
    background-color: rgb(27, 146, 110);
    max-width: 80%;
    word-break: break-all;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
}

.master .msg .adjustment .line-other {
    display: table-cell;
    background-color: rgb(56, 94, 134);
    float: left;
    max-width: 80%;
    word-break: break-all; 
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
}

.master input[type=text] {
    position: relative;
    display: block;
    width: 80%;
    float: left;
    line-height: 40px;
    font-size: 20px;
    margin-left: 10px;
    background-color: rgb(84, 123, 165);
}

.master button {
    position: relative;
    display: block;
    float: right;
    margin-right: 10px;
    width: 46px;
    height: 46px;
    background-color: #4CAF50;
}

.master button img {
    width: 40px;
    height: 40px;
    text-align: center;

}

/* Bordered form */
.action  {  /* layout for login and signup */
    border: 3px solid #f1f1f1;
    color: rgb(140, 185, 233);
}
  
.action input[type=text], .action input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: rgb(84, 123, 165);
}

.action button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 60%;
}

.action button:hover {
    opacity: 0.8;
}

.action .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.action .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.action img.avatar {
    width: 40%;
    border-radius: 50%;
}

.action .container {
    padding: 16px;
    background-color: rgb(27, 42, 58);
}

.action button.login {
    float: right;
    padding-top: 16px;
}


